* {
    font-family: 'istok web', sans-serif;
}

body {
    background-color: #8cb6e0;
}

h1,
h3 {
    font-family: 'source sans pro', sans-serif;
}

form {
    margin-top: 4em;
}

div {
    padding: 1em;
}

select {
    margin: .5em;
}

.btn {
    border-color: #212529;
}

.col-lg-5,
.col-lg-11 {
    margin: 1em;
    border-radius: .35rem;
    box-shadow: 0 0 .3em;
    background-color: white;

}

#infoPanel {
    opacity: 0;
    transition: opacity 1s;
    text-align: center;
}

.info {
    border-radius: .35rem;
    box-shadow: 0 0 .3em;
    margin: 1em;
    background-color: white;
}

.aqiColor {
    transition: background-color 1s;
}

@media screen and (min-width: 1024px) {
    h1 {
        font-size: 6.5vw;
    }
}

@media screen and (max-width: 1023px) {
    h1 {
        font-size: 15vw;
    }
}